node_modules
.next
out
build
coverage

.env
.env*.local
!.env.sample

.git
.gitignore

.agents
.claude
.windsurf
skills-lock.json

*.md
!README.md

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts

Dockerfile
docker-compose.yml
.dockerignore
